# yamllint disable rule:line-length
# All the dependencies for arch linux
---
- hosts: 127.0.0.1
  name: Cargo Dependencies
  connection: local
  tasks:
    - name: Install Cargo packages
      community.general.cargo:
        name: "{{ item }}"
        state: latest
        locked: true
      loop:
        - uv
        - tzupdate
        - gping
        - scooter
        - du-dust
        - jnv
        - bottom
        - git-absorb
        - below
        - fzf-make
        - tokei
        - yazi-fm
        - yazi-cli
        - somo
        - tree-sitter-cli
