---
- hosts: 127.0.0.1
  connection: local
  tasks:
    - name: Install base-devel
      pacman:
        name: base-devel
        state: present

    - name: clone paru
      git:
        repo: https://aur.archlinux.org/yay.git
        dest: /home/adin/tempinstall/paru

    - name: makepackage
      shell: makepkg -si
      args:
        chdir: /home/adin/tempinstall/paru

    - name: Install galaxy dependencies
      shell: "ansible-galaxy {{ item }}"
      loop:
        - collection install community.general
        - collection install kewlfft.aur
