- name: Setup dotfiles
  hosts: 127.0.0.1

  tasks:
    - name: Create ssh directory
      file:
        state: directory
        path: ~/.ssh

    - name: Create config directories
      file:
        state: directory
        path: ~/.config/{{ item }}
      loop:
        - nvim
        - lazygit
        - i3
        - atuin
        - broot
        - k9s
        - yamllint
        - yamlfmt
        - pulse
        - scooter
        - pudb
        - ptpython
        - alacritty
        - ghostty
        - fontconfig
        - navi
        - rofi
        - discord
        - xdg-desktop-portal
        - harlequin
        - yazi
        - tmux
        - hypr
        - waybar
        - flameshot
        - dunst

    - name: Symlink dots
      ignore_errors: true
      file:
        src: "/home/adin/dotfiles/dots/{{ item.src }}"
        dest: "{{ item.dest }}"
        state: link
        force: true
      with_items:
        - src: "hyprland.conf"
          dest: "/home/adin/.config/hypr/hyprland.conf"

        - src: "hyprpaper.conf"
          dest: "/home/adin/.config/hypr/hyprpaper.conf"

        - src: "hyprlock.conf"
          dest: "/home/adin/.config/hypr/hyprlock.conf"

        - src: "hypridle.conf"
          dest: "/home/adin/.config/hypr/hypridle.conf"

        - src: "waybar.jsonc"
          dest: "/home/adin/.config/waybar/config.jsonc"

        - src: "dunstrc"
          dest: "/home/adin/.config/dunst/dunstrc"

        - src: "waybar-style.css"
          dest: "/home/adin/.config/waybar/style.css"

        - src: "flameshot.ini"
          dest: "/home/adin/.config/flameshot/flameshot.ini"

        - src: "tmux.conf"
          dest: "/home/adin/.config/tmux/tmux.conf"

        - src: "nvim/init.lua"
          dest: "/home/adin/.config/nvim/init.lua"

        - src: "nvim/lua"
          dest: "/home/adin/.config/nvim/lua"

        - src: "nvim/after"
          dest: "/home/adin/.config/nvim/after"

        - src: "nvim/config.vim"
          dest: "/home/adin/.config/nvim/config.vim"

        - src: "nvim/coc-settings.json"
          dest: "/home/adin/.config/nvim/coc-settings.json"

        - src: "zsh/zshrc"
          dest: "/home/adin/.zshrc"

        - src: "Xresources"
          dest: "/home/adin/.Xresources"

        - src: "xprofile"
          dest: "/home/adin/.xprofile"

        - src: "lazygit.yml"
          dest: "/home/adin/.config/lazygit/config.yml"

        - src: "default.omp.json"
          dest: "/home/adin/.default.omp.json"

        - src: "pudb.conf"
          dest: "/home/adin/.config/pudb/pudb.cfg"

        - src: "ptpython.py"
          dest: "/home/adin/.config/ptpython/config.py"

        - src: "gitattributes"
          dest: "/home/adin/.gitattributes"

        - src: "golangci.yml"
          dest: "/home/adin/.golangci.yml"

        - src: "i3.config"
          dest: "/home/adin/.config/i3/config"

        - src: "i3blocks.conf"
          dest: "/home/adin/.i3blocks.conf"

        - src: "config.ssh"
          dest: "/home/adin/.ssh/config"

        - src: "direnvrc"
          dest: "/home/adin/.direnvrc"

        - src: "taskrc"
          dest: "/home/adin/.taskrc"

        - src: "alacritty.toml"
          dest: "/home/adin/.config/alacritty/alacritty.toml"

        - src: "config.ghostty"
          dest: "/home/adin/.config/ghostty/config.ghostty"

        - src: "yamllint.yml"
          dest: "/home/adin/.config/yamllint/config"

        - src: "gitignore"
          dest: "/home/adin/.gitignore"

        - src: "htmlhintrc"
          dest: "/home/adin/.htmlhintrc"

        - src: "ignore"
          dest: "/home/adin/.ignore"

        - src: "ripgreprc"
          dest: "/home/adin/.ripgreprc"

        - src: "markdownlintrc"
          dest: "/home/adin/.markdownlintrc"

        - src: "shellcheckrc"
          dest: "/home/adin/.shellcheckrc"

        - src: "broot.toml"
          dest: "/home/adin/.config/broot/conf.toml"

        - src: "gitconfig"
          dest: "/home/adin/.gitconfig"

        - src: "terraformrc"
          dest: "/home/adin/.terraformrc"

        - src: "rofi.rasi"
          dest: "/home/adin/.config/rofi/config.rasi"

        - src: "navi.yaml"
          dest: "/home/adin/.config/navi/config.yaml"

        - src: "default.pa"
          dest: "/home/adin/.config/pulse/default.pa"

        - src: "fonts.conf"
          dest: "/home/adin/.config/fontconfig/fonts.conf"

        - src: "obsidian.vimrc"
          dest: "/home/adin/personal/notes/.obsidian.vimrc"

        - src: "k9s.yaml"
          dest: "/home/adin/.config/k9s/config.yaml"

        - src: "k9s-plugins.yaml"
          dest: "/home/adin/.config/k9s/plugins.yaml"

        - src: "yamlfmt"
          dest: "/home/adin/.config/yamlfmt/.yamlfmt"

        - src: "atuin.toml"
          dest: "/home/adin/.config/atuin/config.toml"

        - src: "user-dirs.dirs"
          dest: "/home/adin/.config/user-dirs.dirs"

        - src: "discord-settings.json"
          dest: "/home/adin/.config/discord/settings.json"

        - src: "portals.conf"
          dest: "/home/adin/.config/xdg-desktop-portal/portals.conf"

        - src: "mimeapps.list"
          dest: "/home/adin/.config/mimeapps.list"

        - src: "harlequin.toml"
          dest: "/home/adin/.config/harlequin/config.toml"

        - src: "gtk-settings.ini"
          dest: "/home/adin/.config/gtk-3.0/settings.ini"

        - src: "vale.ini"
          dest: "/home/adin/.vale.ini"

        - src: "yazi.toml"
          dest: "/home/adin/.config/yazi/yazi.toml"

        - src: "yazi-keymap.toml"
          dest: "/home/adin/.config/yazi/keymap.toml"

        - src: "yazi-init.lua"
          dest: "/home/adin/.config/yazi/init.lua"

        - src: "scooter.toml"
          dest: "/home/adin/.config/scooter/config.toml"

        - src: "npmrc"
          dest: "/home/adin/.npmrc"

        - src: "chrome-flags.conf"
          dest: "/home/adin/.config/chrome-flags.conf"

    - name: Create sudo config directories
      become: true
      tags: sudo-dots
      file:
        state: directory
        path: "{{ item }}"
      loop:
        - /etc/docker

    - name: Mv Sudo Dots
      become: true
      tags: sudo-dots
      copy:
        src: "/home/adin/dotfiles/dots/{{ item.src }}"
        dest: "{{ item.dest }}"
        force: true
      with_items:
        - src: "locale.conf"
          dest: "/etc/locale.conf"

        - src: "daemon.json"
          dest: "/etc/docker/daemon.json"

        # Manage DNS settings
        - src: "network-manager.conf"
          dest: "/etc/NetworkManager/NetworkManager.conf"

        - src: "sddm.conf"
          dest: "/etc/sddm.conf"

    - name: Store image
      become: true
      tags: sudo-dots
      copy:
        src: /home/adin/dotfiles/images/mostar.jpg
        dest: /usr/share/backgrounds/mostar.jpg
        force: true

    - name: locale-gen
      become: true
      shell: locale-gen
